@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}
.heads{
	text-align: center;
	font-size: 30px;
	font-family: Algerian;
}
.avatar{
	border-radius: 175px;
}
.sidenav{
	border-radius: 12px;
	border-color: #000000;
	border-style: inset;
	background-color: #000000;
	opacity:0.8;
	height: auto;
}
.tbc{
	font-size: 20px;
}


.body{
background-image: url('images/back2.jpg');
background-position: center;
background-repeat: none;
background-size: cover;
color: white;

}
.navbar-deff{
	background-color: #000000;
	opacity:0.8;
}
.navbar-deff a{
color: #000;
}
.navbar-nav{
	background-color: orange;
}

.back3{
  background-image: url('images/back2.jpg');
  background-position: center;
  background-repeat: none;
  background-size: auto;
  color: white;
}
.back4{
  background-image: url('images/back4.jpg');
  background-position: center;
  background-repeat: none;
  background-size: auto;
  color: white;
}

.formz{
  color: #000000;
	background-color: #000000;
	opacity: 0.8;
}
.formz label{
  color: #fff;
	font-family: sans-serif;
	font-size: 20px;
}

.formz input{
  color: #000;
	font-family: sans-serif;
	font-size: 20px;
}

.formy{
  color: #000000;
	background-color: #000000;
		opacity: 0.9;
}
.formy label{
  color: #fff;
	font-family: sans-serif;
	font-size: 20px;
}

.formy input{
  color: #000;
	font-family: sans-serif;
	font-size: 20px;
}
.tdl{
	text-align: left;
}
.tdr{
	text-align: right;
}
.hdc{
	color: #ffffff;
	text-align: center;
}
.black{
	background-color: #000000;
}

.bord{
	border-right: 2px;
	border-color: white;
	border-bottom: 2px;
	border-right-color: white;
}

.panel-info{
	opacity: 0.9;
}
p{
	color: #fff;
	font-size: 20px;
}
.bod{
	border-left: 5px solid silver;
	border-top: 2px solid silver;
	border-radius: 5px;
	position: absolute;
}
#messages {
  width: 450px;
  height: 430px;
  padding: 5px;
	border-left: 5px solid silver;
	border-top: 2px solid silver;
	border-radius: 5px;
	overflow: auto;
	overflow-x: hidden;
  margin: 5px;
}
.wll{
	color: black;
	text-align: center;
	font-size: 35px;
	opacity: 0.85;
}
.wll :hover{
	font-size: 37px;
	opacity: 0.7;
	font-weight: bold;
}
.wll a{
	color:black;
}

.wll-c1{
	background-color: lightblue;
}

.wll-c2{
	background-color: lightgreen;
}

.wll-c3{
	background-color: lightyellow;
}

.wll-c4{
	background-color: lightblue;
}

.wll-c5{
	background-color: lightgreen;
}

.tblz{
	width: 880px;
	height: 450px;
	padding: 10px;
	overflow: auto;
	overflow-x: hidden;
}
.top{
	color: white;
}
.top:hover{
	color: black;
	font-size: 25px;
	font-weight: bold;
	background-color:silver;
}
.orange{
	background-color: orange;
}
.passe{
}
